form.cuestionario {
    max-width: 100%;
    width: 100%;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border-style: dotted;
    padding: 25px;
}

form.cuestionario label {
    display: block;
    margin-bottom: 5px;
}

form.cuestionario .form-control input[type='text'],
form.cuestionario .form-control input[type='email'] {
    display: block;
    width: 100%;
    background-color: transparent;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    box-shadow: none;
    color: #303030;
    font-weight: 400;
    height: 50px;
    line-height: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}

form.cuestionario textarea {
    display: block;
    width: 100%;
    background-color: transparent;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    box-shadow: none;
    color: #303030;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}

form.cuestionario .tabla-form {
    background: transparent;
    border: hidden;
}

form.cuestionario .tabla-form th {
    font-weight: 700;
    font-size: 15px;
    color: #303030;
    border: hidden;
}

form.cuestionario .tabla-form tr, td {
    border: hidden;
}

form.cuestionario .logo img {
    height: 60px;
}

form.cuestionario .tabla-form span {
    color: #495057;
    font-size: 14px;
}   


form.cuestionario .form-check-inline {
    display: -ms-inline-flexbox;
    display: inline-flex;
    align-items: center;
    padding-left: 0;
    margin-right: .75rem;
}

form.cuestionario .form-check-input {
    position: static;
    margin-top: 0;
    margin-right: .3125rem;
    margin-left: 0;
}

form.cuestionario .form-group {
    margin-bottom: 1rem;
}

form.cuestionario .form-control {
    display: block;
    width: 100%;
    padding: 1.2rem 1rem;
    font-size: 16px;
    line-height: 24px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

p.exito {
    font-size: 1.5em;
    padding: 1em;
    border: 2px solid green;
    background: lightgreen;
}

p.error {
    font-size: 1.5em;
    padding: 1em;
    border: 2px solid red;
    background: #ff8787;
}
/*
.modal-container{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top:0;
    left:0;
    background: rgb(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    width: 40%;
    height: 50%;
    background: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
    border-radius: 10px;
}

.modal-close{
    transform: translateY(-200%);
}

.close{
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #c44a4a;
    color: #fff;
    line-height: 25px;
    cursor: pointer;
    border-radius: 50%;
}

.modal > img {
    height: 70%;
}

@media screen and (max-width:1000px){
    section{
        flex-direction: column-reverse;

    }
    section > img {
        height: 40%;
    }

    .contenedor-textos{
        text-align: center;
    }
}

@media screen and (max-width:600px){
    section > img {
        height: 25%;
    }

    .modal img {
        height: 30%;
    }
}
*/